@{
    ViewData["Title"] = "Home Page";
}

  
<div class="row">

    <form enctype="multipart/form-data" action="/home/UploadFastQFileAsync" method="post">
        <div class="form-group">

            <input class="btn" name="file" id="file" type="file" />
            <input class="btn" name="file2 " id="file2" type="file" />

            <label for="file">File input</label>

        </div>

 
        <input class="btn btn-info" type="submit"  />
    </form>
</div>
